  
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --blue: #0084ff;
  --black: #333333;
  --gray: #666666; }

html,
body {
  width: 100%;
  height: 100%;
  color: var(--black);
  background-color: #f7f7f7; }

.resume-wrapper {
  width: 816px;
  margin: 50px auto;
  padding: 100px 90px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86); }
  .resume-wrapper #resume {
    width: 100%;
    height: 100%; }
  .resume-wrapper .divider {
    height: 2px;
    width: 150px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1); }
  .resume-wrapper h1.section-title {
    margin: 20px 0;
    border-bottom: 2px solid var(--black); }
  .resume-wrapper h4 {
    display: flex;
    margin: 20px 0 10px;
    align-items: flex-end;
    justify-content: space-between; }
    .resume-wrapper h4 span.employment-period {
      font-size: 12px;
      color: var(--gray);
      font-style: italic; }
  .resume-wrapper p.description {
    font-size: 12px;
    color: var(--gray);
    margin-bottom: 10px; }
  .resume-wrapper span.highlight {
    color: var(--blue); }
  .resume-wrapper a {
    color: var(--blue); }
  .resume-wrapper #self-description p {
    font-size: 14px; }
  .resume-wrapper #self-description ul {
    margin: 15px;
    font-size: 14px; }
    .resume-wrapper #self-description ul li {
      margin: 5px 0; }
  .resume-wrapper #personal-info {
    text-align: center; }
    .resume-wrapper #personal-info .name {
      font-size: 36px; }
    .resume-wrapper #personal-info .job {
      font-size: 12px;
      color: var(--blue);
      padding-bottom: 10px; }
    .resume-wrapper #personal-info .school {
      padding: 5px 0;
      font-size: 14px;
      list-style: none;
      font-weight: bold;
      color: var(--gray);
      display: inline-flex; }
      .resume-wrapper #personal-info .school li {
        padding-right: 8px; }
        .resume-wrapper #personal-info .school li:not(:first-child)::before {
          content: '·';
          font-size: 20px;
          padding-right: 8px;
          vertical-align: middle; }
    .resume-wrapper #personal-info .contact {
      display: flex;
      font-size: 12px;
      list-style: none;
      justify-content: center; }
      .resume-wrapper #personal-info .contact li {
        padding-right: 12px; }
        .resume-wrapper #personal-info .contact li:not(:first-child)::before {
          content: '|';
          font-size: 12px;
          padding-right: 12px;
          vertical-align: baseline; }
    .resume-wrapper #personal-info .motto {
      padding: 30px 0;
      text-align: center;
      color: var(--gray);
      font-style: italic; }
  .resume-wrapper #skills ul {
    margin-left: 30px; }
    .resume-wrapper #skills ul li {
      font-size: 14px;
      margin: 5px 0; }
  .resume-wrapper #CV h4 {
    display: flex;
    margin: 20px 0 10px;
    align-items: flex-end;
    justify-content: space-between; }
    .resume-wrapper #CV h4 .employment-period {
      font-size: 12px;
      color: var(--gray);
      font-style: italic; }
  .resume-wrapper #projects ul {
    font-size: 12px;
    margin-left: 15px; }
    .resume-wrapper #projects ul li {
      margin: 3px 0; }
  .resume-wrapper #self-works p {
    font-size: 14px; }
  
    .resume-wrapper #CV ul {
      font-size: 12px;
      margin-left: 15px; }
      .resume-wrapper #CV ul li {
        margin: 3px 0; }
    .resume-wrapper #self-works p {
      font-size: 14px; }

@media print {
  html,
  body {
    background-color: #fff; }

  .resume-wrapper {
    box-shadow: none; }

  #CV {
    page-break-after: always; }

  #projects {
    margin-top: 100px; } }